.navbar{
  padding: 5px 10px;
  background-color: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E7898;
  box-shadow: #555 0px 1px 5px 0px, #afafaf 2px  1px 5px 2px;
  .menu{
    display: none;
  }
  .heading{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
    color: #fefefe;
  }
  .listitems{
    display: flex;
    justify-content: center;
    li{
      list-style:none;
      margin-right: 2px;
      min-width: 120px;
      color:#020202;
      font-size: 18px ;
      display: flex;
      a{
        width: 100%;
        text-align: center;
        padding: 5px 10px;
        color:#efeefe ;
        border-radius: 2px;
        border-bottom: 2px solid transparent;
      }
      
      a{
        text-decoration: none;
      }
    }
    li a:hover{
      border-bottom: 2px solid #fff;
      color: #fff
    }
    li .active{
      width: 100%;
      text-align: center;
      padding: 5px 10px;
      color: #fff;
      border-bottom: 2px solid #fff;
      border-radius: 2px;
    }
  }
}

@media only screen and (max-width:700px) {
  .navbar {
    .menu{
      display: flex;
      padding: 5px;
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 4px;
      background-color: #fefefe;
      text-align: center;
      border-radius: 4px;
      cursor: pointer;
      div{
        padding: 2px;
        width: 100%;
        background-color: #aeaeae;
      }
    }
    .listitemsdisplaynone{
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0px;
      top: 60px;
      background-color: #3E7898;
      padding: 5px;
    }
    .listitemsdisplayflex{
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 10px;
      top: 70px;
      background-color: #3E7898;
      box-shadow: #222 0px 1px 5px 0px, #fff 2px  1px 5px 2px;
      padding: 5px;
      li{
        font-size: 15px;
      }
    }
  }
}